name: Trigger auto deployment for api-bancodeitens-qa

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/api-bancodeitens-qa-AutoDeployTrigger-c738918e-8ff0-419a-9919-beb57d36a0dd.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.APIBANCODEITENSQA_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.APIBANCODEITENSQA_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.APIBANCODEITENSQA_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          # 1. Define o contexto de build como a raiz do repositório (correto)
          appSourcePath: '.'
          # 2. Define o NOME EXATO do Dockerfile que você criou localmente
          dockerfilePath: 'bancodeitens-v3Dockerfile'
          
          # Remova as linhas _dockerfilePathKey_ e _targetLabelKey_ para evitar conflitos:
          # _dockerfilePathKey_: _dockerfilePath_
          # _targetLabelKey_: _targetLabel_

          registryUrl: novobancoitensacr.azurecr.io
          registryUsername: ${{ secrets.APIBANCODEITENSQA_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.APIBANCODEITENSQA_REGISTRY_PASSWORD }}
          containerAppName: api-bancodeitens-qa
          resourceGroup: rg-bolao-aca-prod
          imageToBuild: novobancoitensacr.azurecr.io/api-bancodeitens-qa:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_



